@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  .Toastify__toast-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .Toastify__toast {
    font-size: 14px;
    padding: 10px;
  }
}

::selection {
  background: #fb923c;
  color: #fff;
}
