@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 600px) {
  .Toastify__toast-container {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }

  .Toastify__toast {
    font-size: 14px;
    padding: 10px;
  }
}

::selection {
  background: #fb923c;
  color: #fff;
}

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Optional: Add custom scrollbar styling if want */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
